:root {
    // brand colors
    --c-brand: #F5712C !important;
    --c-brand-light: #F5712C !important;
    --c-text-accent: #F5712C !important;
    --back-to-top-color: #F5712C !important;
    --back-to-top-color-hover: #F5712C !important;

    --el-color-primary: #F5712C !important;
}

#指南 {
    display: none;
}

#guide {
    display: none;
}

#dplayer {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
}
