.navbar .home-link .site-name {
    color: #F5712C;
}

.page .custom-block.tip {
    border-color: #F5712C;
}

.icon.outbound {
    display: none;
}

a {
  word-break: break-all;
}

#指南 {
    display: none;
}

#guide {
    display: none;
}

#app .global-ui .sw-update-popup {
    border: 1px solid #F5712C;
}

.routes .sidebar-group-items > li > .sidebar-sub-headers > .sidebar-sub-header > a {
    color: $accentColor;
}

#dplayer {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
}

.hero .description {
    display: none;
}

.hero .action {
    display: none;
}

.hero.custom .action {
    display: block;
}