.dplayer {
    position: relative;

    .dplayer-video-wrap {
        background: #000;
        font-size: 0;

        .dplayer-video {
            width: 100%;
            height: 100%;
        }
    }

    .dplayer-controller-mask {
        background-repeat: repeat-x;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
        height: 98px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-position: bottom;
    }

    .dplayer-controller {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 41px;
        padding: 0 20px;

        .dplayer-bar-wrap {
            padding: 5px 0;
            cursor: pointer;
            position: absolute;
            bottom: 33px;
            width: calc(100% - 40px);
            height: 3px;

            &:hover {
                .dplayer-thumb {
                    transform: scale(1) !important;
                }
            }

            .dplayer-bar {
                position: relative;
                height: 3px;
                width: 100%;
                background: rgba(255, 255, 255, .2);
                cursor: pointer !important;

                .dplayer-loaded {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba(255, 255, 255, .4);
                    height: 3px;
                    transition: all 0.5s ease;
                }

                .dplayer-played {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    height: 3px;

                    .dplayer-thumb {
                        position: absolute;
                        top: 0;
                        right: 5px;
                        margin-top: -4px;
                        margin-right: -10px;
                        height: 11px;
                        width: 11px;
                        border-radius: 50%;
                        background: #fff;
                        cursor: pointer !important;
                        transition: all .3s ease-in-out;
                        transform: scale(0);
                    }
                }
            }
        }

        .dplayer-icons {
            height: 38px;
            position: absolute;
            bottom: 0;

            &.dplayer-icons-left {
                .dplayer-icon {
                    padding: 7px;
                }
            }
            &.dplayer-icons-right {
                right: 20px;

                .dplayer-icon {
                    padding: 8px;
                }
            }

            .dplayer-time {
                line-height: 38px;
                color: #eee;
                text-shadow: 0 0 2px rgba(0,0,0,.5);
                vertical-align: middle;
                font-size: 13px;
            }

            .dplayer-icon {
                width: 46px;
                height: 100%;
                border: none;
                background-color: transparent;
                outline: none;
                cursor: pointer;
                opacity: .8;
                transition: all .2s ease-in-out;
                vertical-align: middle;

                &:hover {
                    opacity: 1;
                }
            }

            .dplayer-svg-shadow {
                stroke: #000;
                stroke-opacity: .1;
                stroke-width: 2px;
                fill: none;
            }

            .dplayer-fill {
                fill: #fff;
            }
        }
    }
}